:root {
  --first: orange;
  --second: black;
  --third: grey;
  --fourth: white;
  --fifth: grey;
  --sixth: #800000;
  --seventh: white;
  --eighth: rgb(254, 254, 216);
  --font1: 'Cabin', sans-serif;
  --font2: monospace;
}
